.form-page__wrapper {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-height: calc(100vh - 50px);
  box-sizing: border-box;
}

.form-page-cards__wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}
