.input__wrapper {
  width: 300px;
  height: 120px;
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 2%;
}
.input__wrapper_error {
  border: 1px solid red;
}
.input__label {
  color: white;
  margin: 0 0 10px;
  font-size: 15px;
}
.input__error {
  color: red;
  margin: 10px 0;
  font-size: 18px;
}
