.form-card__wrapper {
  background: black;
  padding: 20px;
  min-width: 200px;
}
.form-card__title {
  color: white;
  font-size: 20px;
  margin: 10px 0;
}
.form-card__text {
  color: rgb(138, 138, 138);
}
.form-card__img {
  width: 230px;
  height: 230px;
  background: center no-repeat;
  background-size: contain;
}
