.api-page {
  background-color: white;
  min-height: calc(100vh - 50px);
}

.api-page__wrapper {
  max-width: 1300px;
  margin: 0 auto;
}
.api-cards__container {
  padding-top: 30px;
  display: flex;
  gap: 41px;
  flex-wrap: wrap;
}
